<h1>Ext Direct Tests RPC</h1>


<ul>
 <li><%= link_to "Ext JS Library 4.1.0", "projects/rpcextjs410" %></li>
</ul>


<!--
<p>REQUEST_PATH: <%= request.env["REQUEST_PATH"] %></p>
<p>PATH_INFO: <%= request.env["PATH_INFO"] %></p>
<p>REQUEST_URI: <%= request.env["REQUEST_URI"] %></p>
<p>HTTP_ORIGIN: <%= request.env["HTTP_ORIGIN"] %></p>
<p>ORIGINAL_FULLPATH: <%= request.env["ORIGINAL_FULLPATH"] %></p>


<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.description %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
-->

