<!DOCTYPE html>
<html>
<head>
  <title>Extr</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= ext_base_tag %>
  <%#= ext :debug => true, :include_stylesheets => true %>
  <%= yield :head %>

</head>
<body>

<div class="rails">
<%= yield %>
</div>
</body>
</html>

