<!DOCTYPE html>
<html>
<head>
  <title>Extr</title>
  <%= stylesheet_link_tag    "extr/application" %>
  <%= javascript_include_tag "extr/application" %>
  <%= csrf_meta_tags %>
  <%= ext_base_tag %>
  <%= ext %>
  <%= ext_direct_provider "Rails" %>


</head>
<body>

<%= yield %>

</body>
</html>

